.tabs {
  position: relative;
  padding: 50px;
  padding-bottom: 80px;
  width: 100%;
}

.tabs input[name="tab-control"] {
  display: none;
}

.tabs .contents section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: var(--sage);
}

.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 390px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 30px;
  padding: 0 10px;
  text-align: center;
}


.contents {
  margin-top: 30px;
}

.contents section p {
  margin-top: 20px;
}

.tabs_content {
  display: none;
  transition: all 250ms ease-in-out;
}

.tabs input:nth-child(1):checked~.contents>section:nth-child(1),
.tabs input:nth-child(2):checked~.contents>section:nth-child(2),
.tabs input:nth-child(3):checked~.contents>section:nth-child(3) {
  display: block;
}

.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: gray;
  font-size: 16px;
  position: relative;
  padding-top: 20px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: shabnam;
}

.tabs label::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--sage);
  transition: all 250s ease-in-out;
  top: 0;
  right: 0;
  transition: all 400ms ease-in;
}

.tabs input:nth-child(1):checked~ul li:nth-child(1) label,
.tabs input:nth-child(2):checked~ul li:nth-child(2) label,
.tabs input:nth-child(3):checked~ul li:nth-child(3) label {
  cursor: pointer;
  color: #000000;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label::before,
.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label::before,
.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label::before {
  width: 100%;
}