.dashboard_contents {
  gap: 20px;
  margin-top: 3rem;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
}
.dashboard_charts {
  display: flex;
  gap: 10px;
  padding: 0px 42px;
  margin-top: 2rem;
}
.dashboard_charts section p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: var(--sage);
  font-weight: bold;
}
.dashboard_charts section {
  background: #711d1c0f;
  padding: 20px;
  border-radius: 4px;
  width: 50%;
}
