.map {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.details {
  margin: -73px 50px 0px 50px;
  padding: 7px 20px 15px 7px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: relative;
}

.details h3 {
  margin-top: 0.5rem;
}

.details span {
  color: var(--text);
  font-size: 14px;
}

.details p {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  color: var(--text);
}

.details a {
  text-decoration: underline;
  margin-top: 0.5rem;
  font-size: 15px;
}