.topbar {
  width: 100%;
  background-color:#232222;
  height: 70px;
  padding: 0 20px;
  display: flex;
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--sage);
}

.topbar section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.3rem;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.profile span {
  font-size: 16px;
  color: rgb(144, 131, 131);
}

.searchBox {
  padding: 0.3rem;
  background: var(--white);
  border-radius: 20px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBox input {
  background-color: inherit;
  border: none;
  outline: none;
}

.searchBox div {
  background-color: var(--coral);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 1.5rem;
  border-radius: 100%;
  padding: 0px 5px;
}

.searchBox svg,
.notification svg {
  position: relative;
  bottom: 1px;
  cursor: pointer;
}

.notification {
  background-color: var(--coral);
  color: var(--white);
  display: flex;
  align-items: center;
  position: relative;
  height: 34px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 20%;
  padding: 0px 5px;
}

.notification span {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--white);
  color: var(--coral);
  font-size: 9px;
  padding: 1px 3px 0 3.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
}

.notifications_box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notifications_box button {
  background: var(--sage);
  color: var(--white);
  padding: 0.5rem 0.7rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.notifications_box p,
.notifications_box svg {
  cursor: pointer;
}

.notifications_box {
  background-color: var(--coral);
  width: 300px;
  border-radius: 8px;
  padding: 15px 10px;
  color: var(--white);
  display: flex;
  gap: 10px;
  align-items: top;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 9999;
}

.notifications_overlay {
  background: rgba(0, 0, 0, 0.389);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
}

.modal_text {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}