.content_details {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid var(--sage);
}

.content {
  background-color: #711d1c0f;
  width: 50%;
  color:var(--text);
  padding: 0px 15px;
  border-radius: 5px;
}

.content_details a svg {
  color: var(--sage);
}

.content_details a {
  display: flex;
  align-items: center;
  gap: 9px;
}

.content:nth-child(1) a:not(.content_details *) {
  background: var(--coral) !important;
  border-right-color: var(--white);
  color: var(--white);
}

.content:nth-child(1) a div:nth-child(1) p:nth-child(2) {
  color: var(--sage);
}
.empty {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 9rem 0 12.5rem 0;
}
