.form {
  display: grid;
  background-color: var(--white);
  padding: 20px 40px;
  width: 100%;
  height: 800px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
  color: var(--text);
  border: 3px solid var(--sage);
  height: 100%;
}

.input {
  padding: 13px;
  background-color: var(--white);
  color: var(--text);
  border-radius: 3px;
  border: 3px solid var(--coral);
  margin-top: 20px;
  outline: none;
  border-radius: 10px;
}

.checkbox p {
  font-size: 14px;
}

.checkbox {
  display: flex;
  margin: 20px 0;
  align-items: center;
  gap: 6px;

}

.checkbox input {
  -webkit-appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 1px;
  vertical-align: sub;
  transform: translateY(-10%);
  outline: none;
  border: 1px solid var(--coral);
}

.checkbox input:checked {
  background-color: var(--coral);
  border-color: var(--coral);
}


.checkbox input:checked:focus,
.checkbox input:checked:hover {
  box-shadow: 0 0 0 3px #d9d9d9;
  border-color: var(--coral);
}

.checkbox input:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPmljb25fYnlfUG9zaGx5YWtvdjEwPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBmaWxsPSIjZmZmZmZmIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNi4wMDAwMDAsIDI2LjAwMDAwMCkiPjxwYXRoIGQ9Ik0xNy45OTk5ODc4LDMyLjQgTDEwLjk5OTk4NzgsMjUuNCBDMTAuMjI2Nzg5MSwyNC42MjY4MDE0IDguOTczMTg2NDQsMjQuNjI2ODAxNCA4LjE5OTk4Nzc5LDI1LjQgTDguMTk5OTg3NzksMjUuNCBDNy40MjY3ODkxNCwyNi4xNzMxOTg2IDcuNDI2Nzg5MTQsMjcuNDI2ODAxNCA4LjE5OTk4Nzc5LDI4LjIgTDE2LjU4NTc3NDIsMzYuNTg1Nzg2NCBDMTcuMzY2ODIyOCwzNy4zNjY4MzUgMTguNjMzMTUyOCwzNy4zNjY4MzUgMTkuNDE0MjAxNCwzNi41ODU3ODY0IEw0MC41OTk5ODc4LDE1LjQgQzQxLjM3MzE4NjQsMTQuNjI2ODAxNCA0MS4zNzMxODY0LDEzLjM3MzE5ODYgNDAuNTk5OTg3OCwxMi42IEw0MC41OTk5ODc4LDEyLjYgQzM5LjgyNjc4OTEsMTEuODI2ODAxNCAzOC41NzMxODY0LDExLjgyNjgwMTQgMzcuNzk5OTg3OCwxMi42IEwxNy45OTk5ODc4LDMyLjQgWiI+PC9wYXRoPjwvZz48L2c+PC9nPjwvc3ZnPg==");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox input:focus,
.checkbox input:hover {
  box-shadow: 0 0 0 3px #ebebeb;
  border-color: #8c8c8c;
}


.btn {
  padding: 0.8rem;
  cursor: pointer;
  background-color: var(--sage);
  border: none;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 15px;
  color: var(--white);
}

.forgot_pass {
  font-size: 15px;
  margin: 15px 0;
  cursor: pointer;
}

.form span {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 13px;
}

.redirect_to_home {
  display: block;
  width: max-content;
  margin: 2rem auto;
  cursor: pointer;
  font-size: 16px;
  color: var(--white);
  background-color: var(--coral);
  padding: 0.5rem;
  border-radius: 10px;

}

.back_to_login {
  margin-top: 2rem;
  color: var(--text);
  font-weight: bold;
}

.back_to_login strong {
  color: var(--sage);
}