.btn {
  padding: 0.8rem;
  cursor: pointer;
  background-color: var(--sage);
  color: var(--white);
}

.form {
  display: grid;
  background-color: var(--white);
  padding: 10px 30px;
  width: 100%;
  height: 800px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
  color: var(--text);
  border: 3px solid var(--sage);
  height: 100%;
}

.input {
  padding: 13px;
  background-color: var(--white);
  color: var(--text);
  border-radius: 3px;
  border: 2px solid var(--coral);
  direction: ltr;
  margin-top: 20px;
}

.back_to_login {
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.code_title {
  font-size: 13px;
  margin-top: 18px;
  color: var(--text);
  opacity: 0.6;
  white-space: nowrap;
  font-weight: bold;
}

.number {
  font-size: 13px;
  margin-top: 7px;
  color: var(--text);
  opacity: 0.6;
  white-space: nowrap;
}

.send_again_code {
  font-size: 13px;
  margin-top: 7px;
  opacity: 0.6;
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--text);
  padding: 0.5rem;
  color: var(--white);
}

.redirect_to_home {
  display: block;
  width: max-content;
  margin: 2rem auto;
  cursor: pointer;
  font-size: 16px;
  color: var(--white);
  background-color: var(--coral);
  padding: 0.5rem;
  border-radius: 10px;
}

.btn {
  padding: 0.8rem;
  cursor: pointer;
  background-color: var(--sage);
  border: none;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 15px;
}