.card {
  position: relative;
  overflow: hidden;
  height: 400px;
  border-radius: 20px;
  transition: transform 0.7s ease, opacity 0.7s ease;
  cursor: pointer;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.7s ease;
  opacity: 0;
  z-index: 2;
}

.card:hover::after {
  opacity: 1;
}

.img_container {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.img_container img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  transform: scale(1);
  transition: all 400ms ease-in-out;

}

.card:hover .img_container img {
  transform: scale(1.05);
}

.details div img {
  width: 20px;
}

.details {
  width: 100%;
  text-align: center;
  transition: box-shadow 0.6s ease;
  padding: 25px;
  position: absolute;
  background: linear-gradient(to bottom,
      transparent 5%,
      rgba(0, 0, 0, 0.65) 50%,
      rgba(0, 0, 0, 0.8) 100%);
  bottom: 0px;
  z-index: 3;
}


.tag {
  display: block;
  font-size: 7px;
  padding: 0.1rem 0.2rem 0;
  background-color: var(--coral);
  font-size: 13px;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--white);
  margin-bottom: 0.6rem;
}

.details div {
  font-size: 14px;
  color: var(--white);
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 13px;
}

.details div svg {
  font-size: 1.2rem;
  cursor: pointer;
}

.share {
  position: relative;
  bottom: 2px;
}

.tooltip {
  position: absolute !important;
  bottom: -25px;
  margin-right: 2rem;
  background-color: var(--text);
  padding: 0.3rem 0.3rem 0;
  border-radius: 4px;
  z-index: 999;
  opacity: 0;
  color: var(--white) !important;
  display: flex;
  gap: 5px;
}

.tooltip svg {
  font-size: 1rem !important;
}


.share:hover .tooltip {
  opacity: 1;
}