.maps {
    display: flex;
    gap: 25px;
}

.container {
    color: var(--text);
    max-width: 1222px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
}

.maps section {
    width: 50%;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
