.container_rules {
    max-width: 1222px;
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-left: 15px;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    color: var(--text);
}

.container_rules img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.container p,
.container span {
    margin-bottom: 20px;
    text-align: justify;
}

.container p:nth-child(2) {
    margin-bottom: 0px;
}