.container {
    color: var(--text);
    max-width: 1222px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
}

.title {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--sage);
    font-size: 20px;
}

.container section {
    display: grid;
    gap: 40px;
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.wishlist_empty {
    position: relative;
    margin-bottom: 54px;
    text-align: center;
    line-height: 1.2;
    color: var(--text);
}

.wishlist_empty svg {
    font-size: 15.2em;
    color: var(--sage);
}

.wishlist_empty p {
    font-size: 48px;
    margin-bottom: 1.5rem;
}

.wishlist_empty span {
    display: block;
    margin-bottom: 0.5rem;
    color: gray;
}

.wishlist_empty a:hover {
    background: var(--coral) !important;
}

.wishlist_empty span:nth-child(4) {
    margin-bottom: 2.8rem !important;
}

.wishlist_empty a {
    padding: 14px 28px;
    transition: 0.1s all ease-in;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4rem;
    border-radius: 0.001px;
    color: var(--white-color);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--coral);
}