.modal_container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    opacity: 1;
    visibility: visible;
    transition: .4s;
}

.modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.box_modal {
    width: 450px;
    margin: 5rem auto;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(to top, var(--coral), var(--sage) 90%);
    z-index: 100;
}

.box_modal form {
    width: 100%;
}

.box_modal h1 {
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--white);
}


.modal_title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
}


.inputBox {
    box-shadow: 0px 10px 15px rgba(69, 68, 68, 0.2);
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    font-size: 14px;
    border: 1px solid var(--coral);
    letter-spacing: 1px;
    margin-bottom: 30px;
    outline: none;
    background: var(--white);
    border-radius: 10px;
    color: var(--text);
    margin-top: 1rem;
}

.inputBox input {
    border: none;
    background-color: inherit;
    width: 100%;
    outline: none;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -35px;
    left: 0;
    color: var(--white);
    font-size: 16px;
}



.btn_action {
    background: transparent;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    color: var(--white);
    font-weight: bold;
    background-color: var(--sage);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 10px 15px rgba(69, 68, 68, 0.3);
    transform: scale(1);
    transition: all 400ms ease-in-out;
    margin: 0.5rem 0;

}