.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.stars {
  display: flex;
  gap: 4px;
  color: var(--coral);
  margin-left: 2rem;
}

.user_info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.user_info p {
  margin-left: 0.5rem;
  color: var(--sage);

}

.comment {
  font-family: shabnam;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.218);
  margin-top: 1rem;
  gap: 25px;
  align-items: center;
  padding-bottom: 25px;
}

.comment div {
  width: 100%;
}

.main_details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comment p {
  margin-bottom: 2px;
  margin-top: 10px !important;
}