.navbar {
  position: fixed;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 0 auto;
  z-index: 9999;
  top: 5px;
  right: 0;
  left: 0;
  border-radius: 10px;
  background: var(--sage);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.10);
}

.logo {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  transition: all 250ms ease-in;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo:hover {
  font-size: 2.1rem;
}

.navbar main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.links {
  display: flex;
  gap: 30px;
  align-items: unset;
}

.links_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links li,
.links_container li {
  list-style: none;
  font-size: 17px;
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
  padding: 0.3rem;
  transition: all 250ms ease-in;
}

.navbar_icons {
  display: flex;
  gap: 20px;
  font-size: 1.4rem;
  align-items: center;
  color: var(--white);
}

.navbar_icons a {
  position: relative;
}

.navbar_icons span {
  left: -9px;
  border-radius: 100%;
  top: -7px;
  font-size: 0.5rem;
  padding: 0.3rem;
  background: var(--coral);
  color: var(--white);
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: var(--text);
}

.dropdown a {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 18px;

}

.dropdown_content a,
.sub_menu a {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #848484;
  padding: 0.3rem 0.5rem;
  transition: all 0.25s ease;
  font-size: 16px;
  margin-top: 0.5rem;
}

.dropdown_content a:hover,
.sub_menu a:hover {
  color: var(--coral);
}

.dropdown_content {
  display: none !important;
  top: 20px;
  padding-top: 20px !important;
  left: -3px;
  text-align: right;
  flex-direction: column;
  position: absolute;
  background-color: var(--white);
  min-width: 220px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  padding: 12px 20px;
  z-index: 1;
  border-radius: 10px;
  direction: ltr;
}

.dropdown_icons {
  font-size: 0.9rem;
  position: relative;
  right: 3px;
  color: var(--coral);
  font-weight: bold;
}

.dropdown:hover .dropdown_content {
  display: flex !important;
}

.arrow_icon {
  position: relative;
}

.arrow_icon::after {
  content: '';
  border-bottom: 3px solid var(--coral);
  display: block;
  height: 7px;
  width: 7px;
  border-right: 3px solid var(--coral);
  position: absolute;
  top: 35%;
  right: 103%;
  transform: rotate(43deg);
  -webkit-transform: rotate(43deg);
  -moz-transform: rotate(43deg);
  -ms-transform: rotate(43deg);
  -o-transform: rotate(43deg);
  transition: all 250ms ease-in;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
}


.arrow_icon:hover::after {
  transform: rotate(230deg);
  -webkit-transform: rotate(230deg);
  -moz-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  -o-transform: rotate(230deg);
}

.toggler_arrow__icon {
  margin-right: 1rem;
  color: var(--coral);
  font-size: 16px;
}

.sub_menu {
  width: 270px;
  background-color: var(--white);
  list-style: none;
  border-radius: 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0.5rem 1rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;

}


.navigation_menu>li>ul.sub_menu {
  bottom: -150px;
  right: -55px;
}

.controol:hover>ul.sub_menu {
  visibility: visible;
  pointer-events: visible;
  opacity: 1;
}

.menu_title {
  display: block;
  font-size: 18px !important;
  border-bottom: 1px solid var(--coral);
  color: var(--sage) !important;
  margin-bottom: 0.5rem;
}

/* start toggeler */

.toggler_container {
  display: none;
  width: 30px;
  height: 100%;
}

#toggler,
#toggler_left,
#toggler_info {
  display: none;
  width: 100%;
  height: 100%;
}

.navbar_toggler__icon {
  background: var(--white);
  transition: background 10ms 300ms ease;
  display: block;
  width: 100%;
  height: 2px;
  z-index: 1000;
  position: relative;
  display: none;
}

.navbar_toggler__icon:before,
.navbar_toggler__icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar_toggler__icon::before {
  top: -8px;
}

.navbar_toggler__icon::after {
  top: 8px;
}


.toggler_menu {
  gap: 1rem;
  transition: all .400s ease-in;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  background: var(--sage);
  left: 0;
  top: 0;
  transform: translateX(-370px);
  padding: 2rem;
}


#toggler:checked~.navbar_toggler__icon {
  background: none;
}


#toggler:checked~.navbar_toggler__icon:before,
#toggler:checked~.navbar_toggler__icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}


#toggler:checked~.navbar_toggler__icon:before {
  transform: rotate(45deg);
}


#toggler:checked~.navbar_toggler__icon:after {
  transform: rotate(-45deg);
}

#toggler:checked~.toggler_menu {
  transform: translateX(-20px);
}

#toggler:checked~.toggler_menu .navbar_icons {
  display: flex;
}

#toggler_left:checked~.sub_menu {
  opacity: 100;
  visibility: visible;
}

#toggler_info:checked~.dropdown_content {
  display: block !important;

}


/*end toggler */
@media screen and (max-width: 480px) {

  .toggler_container,
  .navbar_toggler__icon {
    display: block;
  }

  .navbar {
    margin: 0 1rem;
  }

  .links,
  .navbar_icons {
    display: none;
  }
}

@media screen and (max-width:1200) {

  .toggler_container,
  .navbar_toggler__icon {
    display: block;
  }

  .navbar {
    margin: 0 1rem;
  }

  .links,
  .navbar_icons {
    display: none;
  }
}