.sidebar {
    width: 300px;
    height: 100vh;
    background-color:#232222;
    color: var(--white);
    padding: 10px;
    position: sticky;
    top: 0;
    border-right: 3px solid var(--sage);
}

.sidebar_header {
    text-align: center;
    margin-top: 0.8rem;
    padding: 10px 2px;
    background-color: var(--sage);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 30px 10px;
}

.sidebar_main a {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 18px;
    opacity: 0.7;
}

.sidebar_link_active {
    opacity: 1 !important;
}

.logout {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    max-width: 0 auto;
    width: 90%;
    padding-top: 9px;
    font-size: 1.3rem;
    border-top: 2px solid var(--white);
}