.container {
    width: 100%;
    margin: 10rem auto;
    height: 600px;
    position: relative;
}

.container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo_title {
    background: var(--sage);
    border-radius: 10px;
    padding: 1rem;
    color: var(--white);
    line-height: 1.8rem;
    font-size: 1.1rem;
    position: absolute;
    left: 250px;
    top: 50%;
    transform: translate(-50%, -50%);

}



@media screen and (min-width:992) and (max-width:1200) {
    .container {
        width: 100%;
        margin: 10rem auto;
        height: 500px;
    }

    .promo_title {
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        line-height: 1.6rem;
        font-size: 1rem;
    }

}


@media screen and (min-width:769) and (max-width:991) {
    .container {
        width: 100%;
        margin: 8rem auto;
        height: 400px;
    }

    .promo_title {
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        line-height: 1.6rem;
        font-size: 1rem;
    }
}




@media screen and (min-width:481) and (max-width:768) {

    .container {
        width: 100%;
        margin: 7rem auto;
        height: 300px;
    }

    .promo_title {
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        line-height: 1.4rem;
        font-size: 1rem;
    }
}



@media screen and (max-width: 480) {

    .container {
        height: 200px;
        margin: 5rem auto;
    }

    .promo_title {
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        line-height: 1rem;
        font-size: 0.7rem;
    }

}