.detail {
    padding: 20px;
    margin-bottom: 5rem;
}

.detail_main {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
}

.detail_main div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.detail select {
    background: var(--white);
    padding: 10px;
    color: var(--text);
    border-radius: 5px;
    border: 3px solid var(--coral);
    margin-top: 4.5px;
    outline: 0;
}

.detail input {
    padding: 10px;
    background-color: var(--white);
    margin-top: 2px;
    outline: 0;
    color: var(--text);
    border-radius: 5px;
    border: 3px solid var(--coral);
    width: 100%;
}


.detail label {
    font-size: 15px;
}

.detail button {
    width: 100%;
    border: 0;
    height: 50px;
    border-radius: 4px;
    background-color: var(--sage);
    color: var(--white);
    cursor: pointer;
    padding: 0.7rem;
    font-size: 1.2rem;
    margin-top: 1.4rem;
}