@font-face {
  font-family: shabnam;
  src: url("/fonts/shabnam/Shabnam-Medium.woff");
}

@font-face {
  font-family: shabnam-Bold;
  src: url("/fonts/shabnam/Shabnam-Bold.woff");
}

:root {
  --peach: #ffd3b6;
  --mint: #a8e6cf;
  --coral: #ff8c61;
  --sage: #7bc89c;
  --white: #fff;
  --text: #444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px !important;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--coral) !important;
}

html,
body {
  max-width: 100vw;
  direction: ltr !important;
  background-color: #ffff;
  font-family: shabnam;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.container {
  max-width: 1222px;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding-bottom: 3rem;
  background-color: #ffff;
}


/* swiper */
.slider {
  width: 100%;
  height: 700px;
  position: relative;
  padding: 2rem;
  margin-top: 4rem;
}

.home-slider img {
  position: relative;
  right: 1px;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-slider-2 {
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-slider-2 .swiper-slide {
  opacity: 0.4;
}

.gallery-slider-2 .swiper-slide-thumb-active {
  opacity: 1;
}



.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.button,
.buttonVisible {
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  border-radius: 100%;
  background: var(--coral);
  border: 0;
  color: var(--white);
  cursor: pointer;
  font-size: 2.5rem;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  opacity: 0;
  padding: 0.5rem 0.5rem 0rem;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonVisible {
  opacity: 1 !important;
}

/* swal */
.swal-footer {
  text-align: center;
}

.swal-modal {
  background: var(--white) !important;
  border: 3px solid var(--sage);
}

.swal-title {
  color: var(--text) !important;
  font-size: 18px;
}

.swal-button--confirm {
  background-color: var(--sage);
  color: var(--text);
  font-weight: bold;
}

.swal-content__input:focus,
.swal-content__textarea:focus {
  outline: none;
  border-color: var(--coral) !important;
}

.swal-button:not([disabled]):hover {
  box-shadow: none !important;
}

.swal-button--cancel:hover {
  background-color: var(--white) !important;
}

.swal-button--confirm {
  box-shadow: none !important;
  background: var(--sage) !important;
  border: 3px solid var(--sage);
  color: var(--white);
}

.swal-content__input {
  color: var(--text) !important;
}

.swal-button:focus {
  box-shadow: none !important;
}

/* charts */
.yAxis .recharts-cartesian-axis-tick-value {
  text-anchor: start !important;
}

.css-13cymwt-control,
.css-16xfy0z-control {
  height: 51px;
  margin-top: 0.3rem;
}

/* leaflet */

.leaflet-control-attribution {
  display: none !important;
}


.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png) !important;
}

/*login-register */

.login_register,
.forgot_password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  overflow: hidden;
  padding: 0 0 0 5rem;
  margin: 5rem auto;
  background-color: var(--white);
  border-radius: 30% 30px 30px 30%;
  border: 3px solid var(--mint);
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.17);

}

.login_register::after {
  content: "";
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 150%;
  height: 200px;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, var(--mint) 20%, var(--peach) 90%);
}


.login_register section,
.image-container {
  width: 100%;
  height: 100%;
  border-left: 3px solid var(--sage);
}


.login_register section img,
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*data-picker*/

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  position: fixed !important;
  bottom: 0 !important;
}



.empty {
  color: var(--white);
  background-color: var(--sage);
  padding: 0.7rem 2rem;
  width: max-content;
  margin: 15rem auto;
  font-size: 1.2rem;
  border-radius: 5px;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
  color: var(--coral) !important;
}

.ck-content {
  color: var(--text);
  height: 300px;
  width: 100% !important;
}

.cart {
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  flex-direction: row-reverse;
}

.cart div span:nth-child(2) {
  border-left: 3px solid var(--coral);
}

.cart div span:nth-child(1) {
  border-right: 3px solid var(--coral);
}

.cart span {
  width: 30%;
  cursor: pointer;
  padding: 10px 0px;
}

.cart div {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--coral);
}

.cart button {
  background-color: var(--sage);
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border: 0;
  transition: all 0.2s;
  border-radius: 5px;
  color: var(--white);
}

.loadmore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.loadmore button {
  background-color: #ff8c61;
  border: none;
  color: #fff;
  width: 100%;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
}

.richEditor {
  background: inherit;
  backdrop-filter: blur(10px);
  border: 1px solid var(--coral) !important;
  border-radius: 12px;
  padding: 1rem;

}

.richEditor div {
  height: 100%;
  border: none;
  padding: 1rem;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/




@media screen and (min-width:992) and (max-width:1200) {
  h1 {
    font-size: 62px;
  }
}

@media screen and (min-width:768) and (max-width:992) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

}

@media screen and (min-width:481) and (max-width:768) {

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }


  .container {
    margin-bottom: 4rem;
  }

}

.section-heading {
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 4rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 2px solid var(--sage);
  color: var(--text);

}

.section-heading_link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: bold;
  color: var(--coral);

}

.title {
  margin-top: 20px;
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  z-index: 1;
  font-weight: 500;
  margin-bottom: 2rem;
}

.title:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.title span {
  background: var(--white);
  padding: 0 15px;
  margin-right: 4rem;
}

.title:before {
  border-top: none;
}

.title:after {
  border-bottom: 1px solid var(--coral);
  -webkit-box-shadow: 0 1px 0 0 var(--coral);
  -moz-box-shadow: 0 1px 0 0 var(--coral);
  box-shadow: 0 1px 0 0 var(--coral);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  width: 95%;
  z-index: -1;
}

.title {
  margin-top: 30px;
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  z-index: 1;
  font-weight: 500;
}

.title:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.title span {
  background: var(--white);
  padding: 0 15px;
  margin-right: 4rem;
}

.title:after {
  border-bottom: 1px solid var(--sage);
  -webkit-box-shadow: 0 1px 0 0 var(--sage);
  -moz-box-shadow: 0 1px 0 0 var(--sage);
  box-shadow: 0 1px 0 0 var(--sage);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  width: 95%;
  z-index: -1;
}

.table {
  width: 100%;
}

.table tbody tr {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
}

.table {
  width: 100%;
  background-color: #f2f7fd;
}

.table th {
  border: none;
  color: var(--text);
  text-align: center;
}

.table tr {
  vertical-align: middle;
}

.table td,
.table th {
  padding: 8px 10px;
  text-align: center;
}

.delete_btn {
  font-size: 13px;
  background: #f86565;
  padding: 0.4rem 0.7rem;
  border: 0;
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  width: -webkit-fill-available;
}

.edit_btn,
.btn {
  font-size: 13px;
  background: var(--sage);
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  color: var(--white);
  width: -webkit-fill-available;
}

.table_container {
  padding: 30px 25px;
}


.empty {
  color: var(--white);
  background-color: var(--sage);
  padding: 0.7rem 2rem;
  width: max-content;
  margin: 15rem auto;
  font-size: 1.7rem;
  border-radius: 5px;
}

.container-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  width: 55px;
  height: 55px;
  border: 5px solid var(--sage);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}