.rating {
    display: flex;
    gap: 3px;
    margin-top: 2rem;
}

.rating svg {
    color: var(--coral);
    font-size: 1.4rem;
}

.rating div {
    display: flex;
}

.price {
    color: var(--sage);
    font-size: 1.5rem;
    font-family: shabnam-Bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 15px;
    display: block;
    width: 93%;
    color: rgb(160 151 151);
}

.Available svg {
    font-size: 1.5rem;
}

.Available {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 50px;
}

.wishlist div {
    display: flex;
    gap: 3px;
    align-items: center;
}

.wishlist div svg {
    font-size: 1.3rem;
    color: var(--sage);
}

.wishlist {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.wishlist a:hover {
    color: #777;
    cursor: pointer;
}

.wishlist a {
    font-size: 14px;
    transition: all 0.2s;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.share {
    display: flex;
    margin-top: 2rem;
    gap: 8px;
}

.share svg {
    font-size: 1.2rem;
    color: var(--sage);
}