
.container {
    color: var(--text);
    max-width: 1222px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
}

.container section {
    display: grid;
    gap: 40px;
    grid-template-columns:repeat(5,1fr);
}

