.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.club_container,
.kid_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}


.img_container {
    width: 50%;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.club {
    position: relative;
    width: 50% !important;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
    color: var(--white);
    line-height: 1.8rem;
    border-radius: 10px;
    height: 100%;
    background-color: var(--mint);
    height: 450px;
}

.club div {
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 100px;
    text-align: center;
    background: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.club span {
    color: var(--text);
    font-size: 32px;
    display: block;
    width: 100%;
}

.club p {
    margin-top: 10px;
    width: 100%;

}

.why_kid {
    width: 50%;
    color: var(--white);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--peach);
}



.title {
    color: var(--text);
    font-size: 44px;
    background-color: #ffff;
    padding: 1rem;
    margin-bottom: 1rem;
}


.why_kid div button {
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    color: var(--text);
    background-color: #fff;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;

}


.why_kid div button:hover {
    background-color: var(--sage);
    color: var(--white);
}

.why_kid p:nth-child(2) {
    margin-top: 1rem;
    line-height: 2rem;
    color: var(--text);
    background-color: #fff;
    padding: 1rem;
    font-size: 16px;
    max-height: 200px;
}



@media screen and (min-width:992) and (max-width:1200) {
    .why_kid p:nth-child(2) {
        line-height: 1.5rem;

    }

    .title {
        font-size: 40px;
    }

    .club span {
        color: var(--text);
        font-size: 22px;
    }

}

@media screen and (min-width:768) and (max-width:992) {

    .club_container,
    .kid_container {
        display: flex;
        flex-direction: column;
    }

    .why_kid p:nth-child(2) {
        line-height: 1rem;
    }

    .title {
        font-size: 26px;
    }

    .club span {
        color: var(--text);
        font-size: 18px;
    }

    .club,
    .why_kid {
        width: 100% !important;
    }


}

@media screen and (min-width:481) and (max-width:768) {

    .club_container,
    .kid_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .why_kid p:nth-child(2) {
        line-height: 1rem;
        font-size: 14px;
        overflow-y: auto;
    }

    .title {
        font-size: 22px;
    }

    .why_kid div button {
        display: none;

    }

    .club span {
        color: var(--text);
        font-size: 16px;
    }

    .club,
    .why_kid {
        width: 100% !important;
    }

    .img_container {
        display: none;
    }

}

@media screen and (max-width: 480) {

    .club_container,
    .kid_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .club,
    .why_kid {
        width: 100% !important;
    }

    .why_kid p:nth-child(2) {
        line-height: 1rem;
        font-size: 12px;
        overflow-y: auto;
    }

    .title {
        font-size: 18px;
    }

    .why_kid div button {
        display: none;

    }

    .club span {
        color: var(--text);
        font-size: 14px;
    }

    .img_container {
        display: none;
    }

}