.pagination_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.page {
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #dad7d7ee;
    color: var(--text);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.page.active {
    background-color: var(--coral);
    color: #ffff;
}