.card {
  width: 100%;
  color: var(--text);
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  padding: 0.4rem;
  height: 365px;
  width: 200px;
  background-color: #ffff;
}

.card span {
  color: var(--text);
  font-size: 16px;
}


.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  padding-top: 10px;
  height: 25%;
  justify-content: center;
}

.details svg {
  color: var(--sage);
}

.details_container {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  height: 70%;

}

.details_container img {
  transition: 0.4s all ease-in;
  transform: scale(1);
  width: 100%;
  height: 100%;
}

.details_container:hover img {
  transform: scale(1.01);
}

.details_container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.details_container:hover::before {
  opacity: 1;
}

.details_container:hover button {
  visibility: visible;
  left: 50%;
  bottom: 50%;
  height: max-content;
  transform: translate(-50%, 50%);
}

.details_container:hover .icons {
  visibility: visible;
  left: 0px;
}

.icons svg {
  cursor: pointer;
}

.icons {
  top: 10px;
  left: 0;
  color: var(--white);
  transition: all 0.25s ease;
  font-size: 2rem;
  display: grid;
  gap: 10px;
  z-index: 3;
  position: absolute;
  visibility: hidden;
  background-color: transparent;
}

.details_container button {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  bottom: 0;
  transition: all 0.25s ease;
  z-index: 3;
  background: transparent;
  left: 120px;
  position: absolute;
  visibility: hidden;
  color: var(--white);
  width: max-content;
  border: 1px solid var(--white);
  border-radius: 4px;
}

.details_container button:hover {
  background-color: var(--coral);
  color: var(--white);
}

.icons a,
.icons div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
}

.tooltip {
  font-size: 10px !important;
  align-items: center;
  opacity: 0;
  background-color: var(--coral);
  color: var(--white);
  text-align: center;
  padding: 0 12px;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 13px;
  line-height: 34px;
  position: relative;
}

.icons a:hover .tooltip,
.icons div:hover .tooltip {
  opacity: 1;
}



@media screen and (min-width:992) and (max-width:1200) {
  .icons {
    font-size: 1.5rem;
  }

  .card span {
    font-size: 16px;
  }

}


@media screen and (min-width:769) and (max-width:991) {
  .icons {
    font-size: 1rem;
  }

  .card span {
    font-size: 14px;
  }
}




@media screen and (min-width:481) and (max-width:768) {

  .icons {
    font-size: 1rem;
  }

  .card span {
    font-size: 14px;
  }

}

@media screen and (max-width: 480) {
  .icons {
    font-size: 0.5rem;
  }

  .card span {
    font-size: 12px;
  }

}